/* Local CSS style Share Cheese - September 2019 */


hr {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#map {
    height: 500px;
    width: 500px;
    margin: 20px 0;
}

.bghead {
    background-image: url("../img/fromage_home.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*margin-bottom: 250rem;*/
}

.descsite img {
    width: 50%;
    position: center;
}

.card-action {
    display: flex;
    justify-content: center;
}

/*#inscription{
    margin: auto 0;
}*/
