{% extends 'base.html.twig' %}

{% block title %}Editer l'échange{% endblock %}

{% block body %}
    <h1>Editer l'échange</h1>

    {{ include('exchange/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    {{ include('exchange/_delete_form.html.twig') }}
{% endblock %}
