{% extends 'base.html.twig' %}

{% block title %}New exchange{% endblock %}

{% block body %}
    <h1>Create new exchange</h1>

    {{ include('exchange/_form.html.twig') }}

    <a href="{{ path('exchange_index') }}" class="btn btn-primary">back to list</a>
{% endblock %}
