{% extends 'base.html.twig' %}

{% block title %}New Cheese{% endblock %}

{% block body %}
    <h1>Create new Cheese</h1>

    {{ include('cheese/_form.html.twig') }}

    <a href="{{ path('cheese_index') }}" class="btn btn-primary">back to list</a>
{% endblock %}
