{% extends 'base.html.twig' %}

{% block title %}Email{% endblock %}

{% block body %}
{# templates/emails/registration.html.twig #}
<h3>You did it! You registered!</h3>

<p>Hi {{ name }}! You're successfully registered.</p>

{# example, assuming you have a route named "login" #}
<p>To login, go to: <a href="{{ url('app_login') }}">...</a>.</p>

<p>Thanks!</p>
{% endblock %}