<!DOCTYPE html>
<html lang="fr_FR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Share Cheese{% endblock %}</title>
        {% block stylesheets %}
        <!-- Google Icons CSS -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Local CSS -->
        <link rel="stylesheet" href="{{ asset('css/normalize.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/materialize.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        {% endblock %}
        {% block javascripts %}
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        {% endblock %}
    </head>
    <body>

        {% block navbar %}
            {% include 'navbar.html.twig' %}
        {% endblock %}

        {% block header %}
            {% include 'header.html.twig' %}
        {% endblock %}

        <main class="container">
            {% block body %}{% endblock %}
        </main>

        {% block footer %}
            {% include 'footer.html.twig' %}
        {% endblock %}

    </body>
</html>
