{% extends 'base.html.twig' %}

{% block title %}Edit Cheese{% endblock %}

{% block body %}
    <h1>Edit Cheese</h1>

    {{ include('cheese/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('cheese_index') }}">back to list</a>

    {{ include('cheese/_delete_form.html.twig') }}
{% endblock %}
