{% extends 'base.html.twig' %}

{% block title %}Editer l'annonce{% endblock %}

{% block body %}
    <h1>Editer l'annonce</h1>

    {{ include('ad/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('ad/_delete_form.html.twig') }}
{% endblock %}
